@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;

  }
  #hamburger-nav {
    display: flex;
    /* top:3px; */
    height: 8vh;
    background-color: rgb(255, 255, 255, 0.3);
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
    /* padding-top: 10vh; */
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #about{
    padding-top: 16vh;
  }
  #experience{
    padding-top: 12vh;
  }
  #projects{
    padding-top: 12vh;
  }
  #profile{
    padding-top: 17vh;
  }
  #contact {
    height: 30vh;
  }
  /* nav,
.nav-links{
  background-color: aliceblue;
  border-radius: 20px;
} */
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
    padding-top: 20vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}